
#navbar {
  height: 60px;
  padding: 0 16px;
  background-color: #FFFFFF;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.navbar_content>a img {
  width: 121.9px;
height: 24px;
}

.dropdown {
  width: 24px;
  height: 24px;
}
.mobile_ul{
  margin-left: 0;
}






.nav_links {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 24px;
  background-color: var(--white);
}

.nav_links ul {
  list-style: none;
  color: gray;
  padding: 0;
}

.nav_links li {
  padding-bottom: 24px;
}

.nav_links li:last-child {
  padding-bottom: 0px;
}

.nav_links li>a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-500);
  text-decoration: none;
}

.nav_links li>a:hover,
.nav_links li>a:focus {
  color: var(--green-600);
}

@media (min-width: 576px) {
  #navbar {
      padding: 0 24px;
  }
}

@media (min-width:1024px) {
  #navbar {
      padding: 0 32px;
      border-bottom: 0.5px solid #DCDEE1;
  }

  .dropdown {
      display: none;
      visibility: hidden;
  }

  .navbar_content{
    margin: 0 auto;
  }
  .nav_links {
      display: flex;
      justify-content: space-between;
      align-items: end;
      position: relative;
      top: 0;
      width: 534px;
      height: 60px;
      /* text-align: left; */
      padding: 0;
      /* margin-bottom: 0; */
  }

  .nav_links ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: inherit;
      list-style: none;
      color: gray;
  }

  .nav_links li {
      padding-bottom: 0;
  }
}

@media (min-width: 1280px) {
  #navbar {
      padding: 0 144px;
  }

}